body {
  background-color: lightgrey;
}
.center {
  padding: 5px;
  text-align: center;
}
.todoFormBlock1,
.todoFormBlock2,
.todoFormBlock3 {
  float: left;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
.todoFormBlock1 {
  width: 20%;
  background-color: lightsalmon;
}
.todoFormBlock2 {
  width: 20%;
  background-color: lightseagreen;
}
.todoFormBlock3 {
  width: 60%;
  background-color: lightsteelblue;
}
.clearfix{
  clear: both;
}

.todoText {
  background-color: white;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 10px;
}

.todoList {
  margin-top: 10px;
  padding: 10px;
  background-color: lightyellow;
  border: 1px solid gray;
}

.todoListBlock {
  background-color: lightyellow;
  border: 1px solid gray;
}

